@model IList<CS4250.Prototype.jsTree.Models.DocumentModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TreeView Prototype</h2>
<div id="treeview"></div>

<script>
    $(document).ready(function(){
        
        alert('ready');

        

    })
    


</script>